<div class="index-container">
  <div class="index-contents">
    <div class="index-side index-line">
      <div class="index-side-container">
        <h1>ユーザー一覧</h1>
        <h2>索引</h2>
        <ul class="index-search-list">
          <li>
            <a href="">A</a>
          </li>
          <li>
            <a href="">A</a>
          </li>
          <li>
            <a href="">A</a>
          </li>
          <li>
            <a href="">A</a>
          </li>
          <li>
            <a href="">A</a>
          </li>
          <li>
            <a href="">A</a>
          </li>
          <li>
            <a href="">A</a>
          </li>
          <li>
            <a href="">A</a>
          </li>
          <li>
            <a href="">A</a>
          </li>
          <li>
            <a href="">A</a>
          </li>
          <li>
            <a href="">A</a>
          </li>
          <li>
            <a href="">A</a>
          </li>
          <li>
            <a href="">A</a>
          </li>
          <li>
            <a href="">A</a>
          </li>
          <li>
            <a href="">A</a>
          </li>
          <li>
            <a href="">A</a>
          </li>
          <li>
            <a href="">A</a>
          </li>
          <li>
            <a href="">A</a>
          </li>
          <li>
            <a href="">A</a>
          </li>
          <li>
            <a href="">A</a>
          </li>
          <li>
            <a href="">A</a>
          </li>
          <li>
            <a href="">A</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="index-main index-line">
      <div class="index-main-container">
        <ul class="index-user-list">
          <li>
            <a href="">
              <img src="./shou.png">
            </a>
            <div class="index-user-name">
              <a href="">テストですテストですテストです</a>
            </div>
          </li>
          <li>
            <a href="">
              <img src="./shou.png">
            </a>
            <div class="index-user-name">
              <a href="">テストですテストですテストです</a>
            </div>
          </li>
          <li>
            <a href="">
              <img src="./shou.png">
            </a>
            <div class="index-user-name">
              <a href="">テストですテストですテストです</a>
            </div>
          </li>
          <li>
            <a href="">
              <img src="./shou.png">
            </a>
            <div class="index-user-name">
              <a href="">テストですテストですテストです</a>
            </div>
          </li>
          <li>
            <a href="">
              <img src="./shou.png">
            </a>
            <div class="index-user-name">
              <a href="">テストですテストですテストです</a>
            </div>
          </li>
          <li>
            <a href="">
              <img src="./shou.png">
            </a>
            <div class="index-user-name">
              <a href="">テストですテストですテストです</a>
            </div>
          </li>
          <li>
            <a href="">
              <img src="./shou.png">
            </a>
            <div class="index-user-name">
              <a href="">テストですテストですテストです</a>
            </div>
          </li>
          <li>
            <a href="">
              <img src="./shou.png">
            </a>
            <div class="index-user-name">
              <a href="">テストですテストですテストです</a>
            </div>
          </li>
          <li>
            <a href="">
              <img src="./shou.png">
            </a>
            <div class="index-user-name">
              <a href="">テストですテストですテストです</a>
            </div>
          </li>
          <li>
            <a href="">
              <img src="./shou.png">
            </a>
            <div class="index-user-name">
              <a href="">テストですテストですテストです</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>