<% provide(:title,"home") %>

<div class="home-container">
  <div class="home-contents">
    <div class="home-menu home-line">
      <div id="dropdown-click">新着</div>
      <div id="dropdown-menu">
        <div class="home-content-menu">
          <a href="https://techacademy.jp/magazine/19415">
            <span>新着</span>
          </a>
          <a href="">
            <span>タイムライン</span>
          </a>
          <a href="">
            <span>タグ</span>
          </a>
        </div>
        <div class="home-original-menu">
          <a href="">
            <span>お気に入り</span>
          </a>
          <a href="">
            <span>フォロー</span>
          </a>
          <a href="">
            <span>履歴</span>
          </a>
        </div>
      </div>
    </div>
    <div class="home-main home-line">
      <div class="home-main-container">
        <h1>新着</h1>
        <ul>
          <li class="home-content">
            <a href="">
              <div class="home-img-container">
                <img src="./和順商事株式会社.png">
              </div>
              <p>これはテストですこれはテストですこれはテストですこれはテストですこれはテストですこれはテストです</p>
            </a>
          </li>
          <li class="home-content">
            <a href="">
              <div class="home-img-container">
                <img src="./shou.png">
              </div>
              <p>これはテストですこれはテストですこれはテストですこれはテストですこれはテストですこれはテストです</p>
            </a>
          </li>
          <li class="home-content">
            <a href="">
              <div class="home-img-container">
                <img src="./shou.png">
              </div>
              <p>これはテストですこれはテストですこれはテストですこれはテストですこれはテストですこれはテストです</p>
            </a>
          </li>
          <li class="home-content">
            <a href="">
              <div class="home-img-container">
                <img src="./shou.png">
              </div>
              <p>これはテストですこれはテストですこれはテストですこれはテストですこれはテストですこれはテストです</p>
            </a>
          </li>
          <li class="home-content">
            <a href="">
              <div class="home-img-container">
                <img src="./shou.png">
              </div>
              <p>これはテストですこれはテストですこれはテストですこれはテストですこれはテストですこれはテストです</p>
            </a>
          </li>
          <li class="home-content">
            <a href="">
              <div class="home-img-container">
                <img src="./shou.png">
              </div>
              <p>これはテストですこれはテストですこれはテストですこれはテストですこれはテストですこれはテストです</p>
            </a>
          </li>
          <li class="home-content">
            <a href="">
              <div class="home-img-container">
                <img src="./shou.png">
              </div>
              <p>これはテストですこれはテストですこれはテストですこれはテストですこれはテストですこれはテストです</p>
            </a>
          </li>
          <li class="home-content">
            <a href="">
              <div class="home-img-container">
                <img src="./shou.png">
              </div>
              <p>これはテストですこれはテストですこれはテストですこれはテストですこれはテストですこれはテストです</p>
            </a>
          </li>
          <li class="home-content">
            <a href="">
              <div class="home-img-container">
                <img src="./shou.png">
              </div>
              <p>これはテストですこれはテストですこれはテストですこれはテストですこれはテストですこれはテストです</p>
            </a>
          </li>
          <li class="home-content">
            <a href="">
              <div class="home-img-container">
                <img src="./shou.png">
              </div>
              <p>これはテストですこれはテストですこれはテストですこれはテストですこれはテストですこれはテストです</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="home-side home-line">
      <div class="home-side-container">
        <div class="home-user-ran home-ranking">
          <h2>ユーザーランキング</h2>
          <ul>
            <li>
              <div class="home-name-info">
                <p>1</p>
                <a href="">これはテストですこれはテストですこれはテストです</a>
              </div>
              <div class="home-num-info">
                <div>
                  <p>100</p>
                  <p>posts</p>
                </div>
              </div>
            </li>
            <li>
              <div class="home-name-info">
                <p>2</p>
                <a href="">これはテストですこれはテストですこれはテストです</a>
              </div>
              <div class="home-num-info">
                <div>
                  <p>100</p>
                  <p>posts</p>
                </div>
              </div>
            </li>
            <li>
              <div class="home-name-info">
                <p>3</p>
                <a href="">これはテストですこれはテストですこれはテストです</a>
              </div>
              <div class="home-num-info">
                <div>
                  <p>100</p>
                  <p>posts</p>
                </div>
              </div>
            </li>
            <li>
              <div class="home-name-info">
                <p>4</p>
                <a href="">これはテストですこれはテストですこれはテストです</a>
              </div>
              <div class="home-num-info">
                <div>
                  <p>100</p>
                  <p>posts</p>
                </div>
              </div>
            </li>
            <li>
              <div class="home-name-info">
                <p>5</p>
                <a href="">これはテストですこれはテストですこれはテストです</a>
              </div>
              <div class="home-num-info">
                <div>
                  <p>100</p>
                  <p>posts</p>
                </div>
              </div>
            </li>
            <li>
              <div class="home-name-info">
                <p>6</p>
                <a href="">これはテストですこれはテストですこれはテストです</a>
              </div>
              <div class="home-num-info">
                <div>
                  <p>100</p>
                  <p>posts</p>
                </div>
              </div>
            </li>
            <li>
              <div class="home-name-info">
                <p>7</p>
                <a href="">これはテストですこれはテストですこれはテストです</a>
              </div>
              <div class="home-num-info">
                <div>
                  <p>100</p>
                  <p>posts</p>
                </div>
              </div>
            </li>
            <li>
              <div class="home-name-info">
                <p>8</p>
                <a href="">これはテストですこれはテストですこれはテストです</a>
              </div>
              <div class="home-num-info">
                <div>
                  <p>100</p>
                  <p>posts</p>
                </div>
              </div>
            </li>
            <li>
              <div class="home-name-info">
                <p>9</p>
                <a href="">これはテストですこれはテストですこれはテストです</a>
              </div>
              <div class="home-num-info">
                <div>
                  <p>100</p>
                  <p>posts</p>
                </div>
              </div>
            </li>
            <li>
              <div class="home-name-info">
                <p>10</p>
                <a href="">これはテストですこれはテストですこれはテストです</a>
              </div>
              <div class="home-num-info">
                <div>
                  <p>100</p>
                  <p>posts</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="home-category-ran home-ranking">
          <h2>カテゴリーランキング</h2>
          <ul>
            <li>
              <a href="">これはテストですこれはテストですこれはテストです</a>
              <div class="home-num-info">
                <div>
                  <p>100</p>
                  <p>posts</p>
                </div>
              </div>
            </li>
            <li>
              <a href="">これはテストですこれはテストですこれはテストです</a>
              <div class="home-num-info">
                <div>
                  <p>100</p>
                  <p>posts</p>
                </div>
              </div>
            </li>
            <li>
              <a href="">これはテストですこれはテストですこれはテストです</a>
              <div class="home-num-info">
                <div>
                  <p>100</p>
                  <p>posts</p>
                </div>
              </div>
            </li>
            <li>
              <a href="">これはテストですこれはテストですこれはテストです</a>
              <div class="home-num-info">
                <div>
                  <p>100</p>
                  <p>posts</p>
                </div>
              </div>
            </li>
            <li>
              <a href="">これはテストですこれはテストですこれはテストです</a>
              <div class="home-num-info">
                <div>
                  <p>100</p>
                  <p>posts</p>
                </div>
              </div>
            </li>
            <li>
              <a href="">これはテストですこれはテストですこれはテストです</a>
              <div class="home-num-info">
                <div>
                  <p>100</p>
                  <p>posts</p>
                </div>
              </div>
            </li>
            <li>
              <a href="">これはテストですこれはテストですこれはテストです</a>
              <div class="home-num-info">
                <div>
                  <p>100</p>
                  <p>posts</p>
                </div>
              </div>
            </li>
            <li>
              <a href="">これはテストですこれはテストですこれはテストです</a>
              <div class="home-num-info">
                <div>
                  <p>100</p>
                  <p>posts</p>
                </div>
              </div>
            </li>
            <li>
              <a href="">これはテストですこれはテストですこれはテストです</a>
              <div class="home-num-info">
                <div>
                  <p>100</p>
                  <p>posts</p>
                </div>
              </div>
            </li>
            <li>
              <a href="">これはテストですこれはテストですこれはテストです</a>
              <div class="home-num-info">
                <div>
                  <p>100</p>
                  <p>posts</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>